.container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  border-radius: 10px;
  width: 50%;
  margin: auto;
  background: #fff;
  border-color: #000;
  padding: 20px 40px;
  font-family: Roboto, sans-serif;
  box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.1);

  justify-content: center;
  align-items: center;
}

h1 {
  font-size: 20px;
  margin-top: 15px;
}

.login-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  width: 50%;
  margin: 0;
  text-align: center;
}

.register-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  gap: 20px;
  width: 50%;
  margin: 0;
  text-align: center;
}

.login-form-group {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
  width: 100%;
}

.form-group {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
  width: 100%;
}

.register-form-group {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
  width: 100%;
}

.form-field {
  display: flex;
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.1);
  background: #fbfbfb;
  width: 100%;
}

.form-error {
  display: block;
  color: red;
  font-size: 0.9em;
  font-weight: 600;
}

.button {
  display: flex;
  font-size: 15px;
  color: #000;
  background: #00b2ff;
  border: none;
  box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.1);
  padding: 15px 30px;
  border-radius: 10px;
  justify-content: center;
  font-weight: bold;
  width: 100%;
  margin: 0;
  transition: 0.3s all;
}

.button:hover {
  background: #006895;
  color: #fff;
  cursor: pointer;
}